.position {
   padding: 40%;
   margin-bottom: -5;
   background-image: url("D:\Projectsssss\Courses_frontend\7492291_Mesa de trabajo 1.png");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
  }
  
  h1 {
    color: #333;
  }
  label{
    color: #333;
  }
  
  

  
  
 
  
  
 