.position {

  margin-bottom: -5;
  background-image: url("D:\Projectsssss\Courses_frontend\971.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20%;
  }
  
  h1 {
    color: #fefefe;
  }
  label{
    color: #333;
  }
  
  

  
  
 
  
  
 